* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    color: #333;
    line-height: 1.7rem;
    padding: 0 1rem;
}

header {
    background: #7df9ff;
    color: black;
    padding: 8rem 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

header p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.btn {
    background: white;
    color: #4caf50;
    padding: .75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
}

.feature {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}