* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppin', sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    line-height: 2 rem;
    padding: 0 1rem;
}

header {
    background: rgb(171, 235, 252);
    color: black;
    padding: 8rem 1rem;
    text-align: center;
}

header h1 {
    font-size: 3.0rem;
    margin-bottom: 1.0rem;
}

header p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.btn {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    margin-top: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    outline: auto;
}

.btn:hover {
    box-shadow: 0 5px 10px rgb(0, 0, 0, .4);
    background: rgb(32, 44, 49);
    color: rgb(50, 188, 133);
    transition: .3s ease;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
}

.feature {
    background: rgb(211, 211, 211);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    outline: auto;
    margin-bottom: 1rem;
}

.feature:hover {
    background: rgb(160, 160, 160);
    transition: 0.3s ease;
}


footer {
    background: gray;
    padding: 3.5rem 1rem;
    text-align: center;
    color: white;
}