* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: #fff533;
    color: black;
    padding: 0 1rem;
    line-height: 2rem;
}

header {
    background: rgb(193, 39, 204);
    color: white;
    padding: 8rem 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin: auto;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.125rem;
    margin: auto;
    margin-bottom: 2.5rem;
}

.btn {
    background: white;
    color: black;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    outline: auto;
}

.btn:hover {
    background: rgb(238, 183, 255);
    color: rgb(165, 8, 185);
    box-shadow: 0 10px 20px rgba(0,0,0,1);
    transition: .5s ease;
}

section {
    background: rgb(249, 255, 136);
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
}

.feature {
    background: rgb(245, 209, 255);
    text-align: center;
    padding: 4rem 4rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,10);
    margin: 1rem;
}

.feature:hover {
    color: rgb(255, 28, 247);
    transition: .5s ease
}

footer {
    background: rgb(66, 66, 66);
    color: rgb(226, 226, 226);
    padding: 2rem 1rem;
    text-align: center;
    font-size: larger;
}